---
layout: default
---

<div style="float:right; width:160px; margin-left:1em;">
    <ins class="adsbygoogle"
         style="display:inline-block;width:160px;height:600px"
         data-ad-client="ca-pub-8224823234031142"
         data-ad-slot="LIST_SLOT_ID"></ins>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
</div>

<h1 class="category">{{ page.title }}</h1>
<ul class="posts">
{% for post in site.categories[page.category] %}
    <div>{{ post.date | date_to_html_string }}</div>
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <div class="categories">Filed under {{ post.categories | category_links }}</div>
{% endfor %}
</ul>